.inicio {
    background-color: black;
}

.cabecalho__botao {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 80%;
}
.corpo__logo {
    width: 80%;
    height: 40%;
    margin: 3em 0 0;
    background: url("../img/meiaduzia-logo.jpeg") no-repeat center;
    background-size: 100% 100%;
}
.corpo__botao {
    width: 60%;
    height: 50px;
    margin: 2em 0 0;
    border: solid var(--branco);
    border-radius: 10px;
    font-size: 25px;
    text-shadow: 2px 1px black;
}