.login {
    display: none;
}
.corpo__usuario, .corpo__senha {
    width: 100%;
    height: 10vh;
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.corpo__usuario {
    margin: 2em 0 -1em;
}
.corpo__usuario p, .corpo__senha p {
    color: var(--branco);
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.usuarios, .senha {
    width: 50%;
    height: 80%;
    color: var(--preto);
    font-size: 20px;
    font-weight: bold;
    overflow: auto;
}
.usuarios {
    width: 70%;
}
.senha {
    text-align: center;
}
.login__botao {
    width: 70%;
    height: 50px;
    border: 1px solid var(--branco);
    border-radius: 10px;
    /* margin: 3em 0; */
    font-size: 20px;
    font-weight: bold;
}